In [1]:
import selenium
import pandas as pd
from selenium import webdriver

import time
from selenium.common.exceptions import NoSuchElementException, ElementNotInteractableException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC


import requests
from  bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [146]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (3)\chromedriver.exe')

In [147]:
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)

In [148]:
driver.maximize_window()
time.sleep(2)

In [149]:
popup= driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [150]:
title = []
review_text = []
ratings = []
urls=[]

In [151]:
search_items=["laptops", "Phones", "Headphones", "smart watches", "Printers", "Monitors", "Home theaters", "Professional Cameras"]

In [152]:
for item in search_items:
    # Find the search bar
    srchBar = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    srchBar.clear()
    srchBar.send_keys(item)
    
     # Clicking on the search button
    srcbtn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    
    url_tag= driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
    for url in url_tag:
        urls.append(url.get_attribute('href'))

In [153]:
len(urls)

48

In [156]:
for i in urls[]:
    driver.get(i)
    time.sleep(2)
    for scrl in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
    # Clicking on all reviews
    try:
        
        btn=driver.find_element_by_xpath("//div[@class='_2c2kV-']/following::a")
        
        link = btn.get_attribute('href')
        driver.get(link)
        time.sleep(1)
    except NoSuchElementException:
        pass
    for pg in range(0,50):
        for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
                review_text.append(i.text)
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
                title.append(i.text)
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']/../div"):
                ratings.append(i.text)
                
        k=pg+1
        next_page= link +"&page=" +str(k) 
        driver.get(next_page)
        time.sleep(1)

In [157]:
len(ratings), len(review_text), len(title)

(7550, 7550, 7550)

In [158]:
# Creating a dataframe

df = pd.DataFrame({"Title": title ,"Review_text": review_text,"Ratings": ratings})
df

,Title,Review_text,Ratings
0,Worth the money,Best Lenovo laptop under 40000\nIf you are loo...,4
1,Worth every penny,First of all thanks to Flipkart for a faster d...,5
2,Terrific,I love it 💗💗 not because of prize but it's rea...,5
3,Best in the market!,"One of the best student laptop money can buy, ...",5
4,Great product,A very good product for a given price. It's mo...,5
...,...,...,...
7545,Nice product,"Good product,, picture quality is nice",4
7546,Nice,It's Very good deektop,3
7547,Perfect product!,So nice product.,5
7548,Super!,A mondol have a so nice and so also sumthnice ...,5
7549,Brilliant,Perfect picture quality as well working on com...,5

In [159]:
df.to_csv(r"C:\python\Ratings_Flipkart.csv")

In [160]:
driver.close()

# Amazon Website

In [103]:
driver= webdriver.Chrome(r'C:\Users\user\Downloads\chromedriver_win32 (3)\chromedriver.exe')

In [104]:
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)

In [105]:
driver.maximize_window()
time.sleep(2)

In [108]:
title = []
review_text = []
ratings = []
url1=[]

In [109]:
search_items = ['laptops','phones','headphones','smart watches', 'Professional Cameras', 'Printers', 
              'Monitors', 'Home theater', 'Router']

In [110]:
for item in search_items:
    #To access search bar
    searchbar = driver.find_element_by_id("twotabsearchtextbox")
    searchbar.clear()
    searchbar.send_keys(item)
    
     #clicking on search button
    searchbtn=driver.find_element_by_id("nav-search-submit-button").click() 
    time.sleep(1)
    
    url1_tag= driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a")
    for url in url1_tag:
        url1.append(url.get_attribute('href'))

In [111]:
len(url1)

227

In [138]:
for i in url1[180:227]:
    driver.get(i)
    time.sleep(2)
    
    #Clicking the rating
    try:
        driver.find_element_by_xpath("//a[1][@id='acrCustomerReviewLink']").click()
        #Clicking to see all reviews
        try:
            driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
        except NoSuchElementException:
            pass
    except NoSuchElementException:
        print("No rating")
        pass
    
    
    
    #Scrapping the details
    Start_page=1
    End_page=10
    for page in range(Start_page,End_page+1):
        try:
            Reviews=driver.find_elements_by_xpath("//div[@class='a-row a-spacing-small review-data']/span/span")
            for r in Reviews:
                review_text.append(r.text.replace('\n',''))
        except NoSuchElementException:
            review_text.append("Not Available")
        try:
            Rating=driver.find_elements_by_xpath("//div[@class='a-section celwidget']/div[2]/a[1]")
            for i in Rating:
                rating=i.get_attribute('title')
                ratings.append(rating[:1])
        except NoSuchElementException:
            ratings.append("Not available") 
        
        try:
            title_tag=driver.find_elements_by_xpath("//div[@class='a-section celwidget']/div[2]/a[2]")
            for titles in title_tag:
                title.append(titles.text)
        except NoSuchElementException:
            title.append("Not available")
        
           
        #Looping for next page automatically
        try:
            next_page=driver.find_element_by_xpath("//div[@id='cm_cr-pagination_bar']/ul/li[2]/a")
            if next_page.text=='Next Page':
                next_page.click()
                time.sleep(2)
        except NoSuchElementException:
            pass

In [139]:
len(title), len(review_text), len(ratings)

(17110, 17227, 17110)

In [141]:
review_text= review_text[0:17110]

In [142]:
df1 = pd.DataFrame({"Title": title ,"Review_text": review_text,"Ratings": ratings})
df1

,Title,Review_text,Ratings
0,Open box product delivered,Product seal was open / broken and original ad...,3
1,"Awesome features and it's ""made in India"" budg...","It's a ""made in India"" laptop with great featu...",5
2,Open box product delivered,Product seal was open / broken and original ad...,3
3,"Awesome features and it's ""made in India"" budg...","It's a ""made in India"" laptop with great featu...",5
4,Open box product delivered,Product seal was open / broken and original ad...,3
...,...,...,...
17105,Home theater not clarity,"Update my review, after few month, it has prob...",5
17106,Best price of this product,Just Watch till the end and see how the sound...,5
17107,Nice product,I love this speaker there is no negative to s...,5
17108,Just ossammm😘😘😘😘😘😍😍😍,This a good speekar in this price segment. It...,5
17109,Super,The performance is not up to the mark...sound ...,5

In [144]:
df1.to_csv(r"C:\python\Ratings_amazon.csv")

In [145]:
driver.close()

In [161]:
# to combine flipkart and amazon reviews files together in a single csv file

flipkart = pd.read_csv(r"C:\python\Ratings_Flipkart.csv")
amazon = pd.read_csv(r"C:\python\Ratings_amazon.csv")
reviews = pd.concat([amazon, flipkart], ignore_index=True)
reviews

,Unnamed: 0,Title,Review_text,Ratings
0,0,Open box product delivered,Product seal was open / broken and original ad...,3
1,1,"Awesome features and it's ""made in India"" budg...","It's a ""made in India"" laptop with great featu...",5
2,2,Open box product delivered,Product seal was open / broken and original ad...,3
3,3,"Awesome features and it's ""made in India"" budg...","It's a ""made in India"" laptop with great featu...",5
4,4,Open box product delivered,Product seal was open / broken and original ad...,3
...,...,...,...,...
24655,7545,Nice product,"Good product,, picture quality is nice",4
24656,7546,Nice,It's Very good deektop,3
24657,7547,Perfect product!,So nice product.,5
24658,7548,Super!,A mondol have a so nice and so also sumthnice ...,5
24659,7549,Brilliant,Perfect picture quality as well working on com...,5

In [162]:
reviews.drop(columns = 'Unnamed: 0', inplace=True)
reviews

,Title,Review_text,Ratings
0,Open box product delivered,Product seal was open / broken and original ad...,3
1,"Awesome features and it's ""made in India"" budg...","It's a ""made in India"" laptop with great featu...",5
2,Open box product delivered,Product seal was open / broken and original ad...,3
3,"Awesome features and it's ""made in India"" budg...","It's a ""made in India"" laptop with great featu...",5
4,Open box product delivered,Product seal was open / broken and original ad...,3
...,...,...,...
24655,Nice product,"Good product,, picture quality is nice",4
24656,Nice,It's Very good deektop,3
24657,Perfect product!,So nice product.,5
24658,Super!,A mondol have a so nice and so also sumthnice ...,5
24659,Brilliant,Perfect picture quality as well working on com...,5

In [163]:
# Saving the final data into csv file
reviews.to_csv(r"C:\python\Ratings_reviews.csv")